.pdf-document {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pdf-page {
  width: fit-content;
}

.pdf-page-container {
  width: auto;
}

.pdf-viewer{
  height: 100%;
  width: 100%;
  background: #2f2f2f;
}

.pdf-header{
  background: #3c3c3c;
}